# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
pnpm-lock.yaml

# Vite output
dist/

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# env files
.env
.env.*
!.env.production
!darulkitab-backend/api/.env.example

# backend generated media
darulkitab-backend/storage/quran-audio/

# logs
logs
*.log

# bundler
*.tgz

# package
**/node_modules/
**/dist/
